name: Formatting and Linting
on:
  pull_request:
    branches: [ master ]
jobs:
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - run: dotnet tool restore
      - run: dotnet csharpier --check
