name: Test

on: [push, pull_request]

jobs:

  windows:
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Nuget restore
      run: nuget restore

    - name: Install tools
      run: dotnet tool install --global coverlet.console

    - name: Run unit tests
      env:
        TEST_RANDOM_SEED: ${{ github.run_id}}
      run: |
        $vsDevPath = "${env:ProgramFiles}\Microsoft Visual Studio\2022\Enterprise"
        Import-Module "${vsDevPath}\Common7\Tools\Microsoft.VisualStudio.DevShell.dll"
        Enter-VsDevShell -VsInstallPath "${vsDevPath}" -DevCmdArguments '-arch=x64'
        msbuild SshAgentLibTests
        ./scripts/coverage.ps1

    - uses: codecov/codecov-action@v2
      with:
        version: 'v0.1.15'
        directory: ./coverage

  linux:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install nuget
        run: |
          sudo curl -o /usr/local/bin/nuget.exe https://dist.nuget.org/win-x86-commandline/v4.9.4/nuget.exe
          echo -e '#!/bin/sh\nexec mono /usr/local/bin/nuget.exe "$@"' | sudo tee /usr/local/bin/nuget
          sudo chmod +x /usr/local/bin/nuget

      - name: Install depedencies
        run: |
          sudo apt-add-repository ppa:dlech/keepass2-plugins-beta
          sudo apt-get update
          sudo apt-get install --no-install-recommends mono-devel libbccrypto-cil libgtk2.0-cil-dev libglade2.0-cil-dev libargon2-dev
          ./scripts/install-nunit.sh

      - name: Build
        run: xbuild

      - name: Test
        run: ./scripts/run-tests-mono.sh
